<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema de Votación</title>
    <link rel="stylesheet" href="s/style.css">
</head>
<body>
    <h1 id="titulo">BIENVENIDO AL SISTEMA DE VOTACIÓN EN LÍNEA</h1>
    <div class="contenedor_de_login">
        <h2>Iniciar Sesión</h2>
        <form id="formulario">
            <label for="username">Cédula:</label>
            <input type="number" id="id_usuario" name="username" required>    
            <label for="username">Contraseña:</label>
            <input type="number" id="contraseña_has" name="username" required>          
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>

</body>
</html>