body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.text{
    text-align: center;
}
.candidato-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.candidato {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.candidato img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.candidato h2 {
    font-size: 20px;
    color: #333;
}

.candidato p {
    font-size: 14px;
    color: #666;
}

.btn-votar {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-votar:hover {
    background-color: #218838;
}
