body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#titulo {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: rgb(7, 1, 105);
}

.contenedor_de_login {
    background-color: white;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 20px;
}

button {
    width: 107%;
    padding: 15px;
    background-color: #3e4bd2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

.candidato-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.candidato {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.candidato img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.candidato h2 {
    font-size: 20px;
    color: #333;
}

.candidato p {
    font-size: 14px;
    color: #666;
}

.btn-votar {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-votar:hover {
    background-color: #218838;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.perfil-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.perfil-header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.foto-candidato {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
}

.nombre-candidato {
    font-size: 2em;
    margin: 10px 0;
}

.partido-candidato {
    font-size: 1.2em;
    color: #ddd;
}

.perfil-descripcion, .perfil-propuestas {
    padding: 20px;
    line-height: 1.6;
}

.perfil-descripcion h2, .perfil-propuestas h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.perfil-propuestas ul {
    list-style-type: disc;
    padding-left: 20px;
}

.perfil-propuestas li {
    margin-bottom: 10px;
}
